body {
    font-family: Arial, sans-serif;
}
a {
    color: rgba(0,0,0,0.87);
    text-decoration: #222 none;
    font-size: 13px;
}
a:hover {
    text-decoration: rgba(0,0,0,0.87) underline;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.topbar_left {
    display: inline-block;
    background-color: #0ff;
    text-align: center;
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 5fr;
}
.topbar_right {
    display: inline-block;
    background-color: #f3f;
    text-align: center;
    padding-left: 2fr;
}
#sign_in_button {
    background-color: royalblue;
    padding: 8px 14px 8px 14px;
    border-radius: 4px;
    color: #fff;
}
#logo {
    height: 92px;
    width: 272px;
    padding-top: 190px;
}
#searchbar {
    width: 470px;
    height: 40px;
    margin-top: 20px;
    border-style: solid;
    border-radius: 40px;
}
#navbar {
    position: sticky;
    bottom: 0;
    color: #222;
}