body {
    font-family: Arial, sans-serif;
}
a {
    color: rgba(0,0,0,0.87);
    text-decoration: #222 none;
    font-size: 13px;
}
a:hover {
    text-decoration: rgba(0,0,0,0.87) underline;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.topbar_left {
    display: inline-block;
    background-color: #fff;
    text-align: left;
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 5fr;
    width: 50%;
}
.topbar_right {
    display: inline-block;
    background-color: #fff;
    text-align: right;
    padding-left: 2fr;
    width: 44%;
    padding-right: 12px;
}
.search_buttons {
    display: inline-block;
    background-color: rgba(221, 221, 221, 0.87);
    color: rgba(0,0,0,0.87);
    border-style: none;
    border-radius: 3px;
    padding: 10px 20px 10px 20px;
}
#google_apps {
    width: 25px;
    height: auto;
}
#sign_in_button {
    background-color: royalblue;
    padding: 8px 14px 8px 14px;
    border-radius: 4px;
    color: #fff;
}
#logo {
    height: 92px;
    width: 272px;
    padding-top: 190px;
}
#searchbar {
    width: 470px;
    height: 40px;
    margin-top: 20px;
    border-style: solid;
    border-radius: 40px;
}
#google_search {
    margin-left: 35%;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 51%;
}
#navbar {
    position: sticky;
    bottom: 0;
    color: #222;
    background-color: rgba(0,0,0,0.18);
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 40px;
}
#navbar_left {
    display: inline-block;
    position: relative;
    left: 10px;
}
#navbar_right {
    display: inline-block;
    position: absolute;
    right: 0px;
}