body {
    font-family: Arial, sans-serif;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#logo {
    height: 92px;
    width: 272px;
    padding-top: 190px;
}
#searchbar {
    width: 470px;
    height: 20px;
    margin-top: 20px;
}
#navbar {
    position: sticky;
    bottom: 0;
    color: #222;
}